In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [2]:
data=pd.read_csv("6th pgm Heart-Disease.csv")

In [3]:
x=data.drop('Heart-Disease',axis=1)

In [4]:
y=data['Heart-Disease']

In [5]:
le = LabelEncoder()

In [6]:
data.head()

,Age,Gender,Family_History,Diet,Lifestyle,Cholestrol,Heart-Disease
0,45,Male,Yes,Balanced,Active,Normal,No
1,52,Male,No,Vegetarian,Sedentary,High,Yes
2,60,Male,Yes,High-protein,Active,Normal,No
3,36,Male,No,Mediterranean,Active,Normal,No
4,70,Male,Yes,Low-carb,Sedentary,High,Yes

In [7]:
# le_Gender = LabelEncoder()
# x.o

In [8]:
x['Gender'] = le.fit_transform(x['Gender'])
x['Family_History'] = le.fit_transform(x['Family_History'])
x['Diet'] = le.fit_transform(x['Diet'])
x['Lifestyle'] = le.fit_transform(x['Lifestyle'])
x['Cholestrol'] = le.fit_transform(x['Cholestrol'])
y = le.fit_transform(y)

In [9]:
x.head()

   Age  Gender  Family_History  Diet  Lifestyle  Cholestrol
0   45       0               1     0          0           1
1   52       0               0     4          1           0
2   60       0               1     1          0           1
3   36       0               0     3          0           1
4   70       0               1     2          1           0

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [11]:
gnb = GaussianNB()

In [12]:
gnb.fit(x_train, y_train)

GaussianNB()

In [13]:
y_pred = gnb.predict(x_test)

In [14]:
from sklearn.metrics import accuracy_score
print("Accuracy is:", accuracy_score(y_pred,y_test))

Accuracy is: 1.0

In [15]:
# Predict
Age = 56
Gender = 0
Family_History = 0
Diet = 1
Lifestyle = 0
Cholestrol = 1
Features = [[Age,Gender,Family_History,Diet,Lifestyle,Cholestrol]]
y = gnb.predict(Features)
print(y)

[0]